<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head">

<title id="originalTitle">Empleados</title>

<script id="local"></script>

</head>
<body>
<div th:replace="header"></div>

	<h1 th:text="${'Equipos asignados en departamento de ' + dept.orElse('not present').getName()}"></h1>

    
    <table class="table table-bordered" th:object="${ldev}" id="deviceTable" border="1">
     <tr>
     <th>Id</th>
     <th>Tipo de equipo</th>
     <th>Marca</th>
     <th>Modelo</th>
     <th>Asignado a</th>
     <th>Serie</th>
     <th>Modificar</th>
     <th>Eliminar</th>
	<tr th:each="device : ${ldev}">

        <form th:object="${device}" th:action="@{/modify}" th:method="post">
    

    <td th:text="${device.getId()}">Id</td>
    <input type="hidden" name="id" th:value="${device.getId()}"/>
    <td th:text="${device.getType()}" >Device Name</td>
    <input type="hidden" name="type" th:value="${device.getType().getId()}"/>
          <td th:text="${device.getBrand().getName()}" >Brand</td>
    <input type="hidden" name="brand" th:value="${device.getBrand().getId()}"/>
            <td th:text="${device.getModel()}" >Model</td>
    <input type="hidden" name="model" th:value="${device.getModel().getId()}"/>
            <td class="dropdown" th:text="${device.getEmployee()}" >Employee</td>
    <input class="dd" type="hidden" name="employee" th:value="${device.getEmployee().getId()}"/> 
    <td th:text="${device.getSerial()}">Serial Num</td>
    <input type="hidden" name="serial" th:value="${device.getSerial()}" />
    <input type="hidden" name="notes" th:value="${device.getNotes()}" />
     <td><input class="btn btn-primary" name="modificar" type="submit" value="Modificar" /></td>
        <td><input class="btn btn-danger" name="borrar" type="submit" value="Eliminar" /></td>
        </form>
    </tr>
    </table>
    <br />

    <button onclick="window.history.go(-1)">Back</button>
</body>
</html>