<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="head">

<title id="originalTitle">Asignador de recursos tecnológicos</title>

<script id="local"></script>


</head>
<body>

	<div th:replace="header"></div>

	<div class="row">
			<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div> 
				
				<h1>Bienvenido</h1>
				
				<p>Esta aplicación le permite ordenar los equipos tecnológicos de su empresa. Por favor agregue empleados, sucursales, 
				tipos de equipo, marcas y modelos de equipos para comenzar a asignar. 
				Cada una de las páginas tiene enlaces con tablas que muestran los equipos asociados a ellas.</p>
				
				<p>Posteriormente puede ingresar sus equipos a través de "Equipos" donde también podrá consultar 
				todos los equipos asignados.</p> 
				
				
				
				
				
				
				
				</div>
			</div>
		</div>
	</div>

	</div>
</body>
</html>